.planet-detail-div {
    max-width: 900px;
    margin: 100px 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(240, 248, 255, 0.301);

  }
  .ph1 {
    text-align: center;
    color: rgb(79, 50, 117);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
  }
  
  .ph3 {
    padding: 20px 0 0 0;
    color: rgb(87, 37, 92);
    margin-bottom: 15px;
  }
  
  
  .pp {
    font-size: 1.1rem;
    margin-bottom: 15px;
    color: black;
    padding: 0 50px 0px 50px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
  }
  strong{
    color: black;
  }
